#ignore all .mat, .log, .txt, .out, *.asv, *.png, *.tif, *.nc files
*.mat
*.log
*.txt
!ua_config.txt
*.out
*.asv
*.png
*.tif 
*.nc
*.csv
!Runtable_example.csv
*.tmp
rw_active
run_ua_archer2_*.sh
Ua
datetime
logging

#ignore all hidden files
.*

#ignore python dir
__pycache__/

#ignore specific case folders, only track master folder
ANT_Inverse_tmp/
ANT_Compile/UA_BUILD
ANT_Inverse/AS_PROPHET_Inverse_1*/
ANT_Inverse/ANT_Inverse_2*/
ANT_Inverse/ANT_Inverse_1*/
ANT_Inverse/ANT_Inverse_ForQing/
ANT_Inverse/ANT_nsmbl*
ANT_Diagnostic/ANT_Diagnostic_1*/
ANT_Data/ANT_Interpolants/GeoTiffFiles/
