#ignore all .mat, .log, .txt, .out, *.asv, *.png, *.tif, *.nc files
*.mat
*.log
*.txt
*.out
*.asv
*.png
*.tif 
*.nc
*.csv
Ua

#ignore all hidden files
.*

#ignore python dir
__pycache__/

#ignore specific case folders, only track master folder
ANT_Compile/UA_BUILD
ANT_Inverse/AS_PROPHET_Inverse_1*/
ANT_Inverse/ANT_Inverse_1*/
ANT_Inverse/ANT_Inverse_ForQing/
ANT_Inverse/ANT_nsmbl*
ANT_Diagnostic/ANT_Diagnostic_1*/
ANT_Data/ANT_Interpolants/GeoTiffFiles/
